<div class="container row">
    <div class="col-md-7">
        <h1 style="text-align:center;">Quotes</h1>
        <hr>
        <ul>
            <div *ngFor='let q of quotes;let i =index'>
                <li>{{q.quote}}</li>
                <button (click)='toggleDetails(i)'>show Author</button>
                <app-quotes-detail *ngIf='q.showAuthor' [quote]='quotes' (isComplete)='deleteQuotes($event,i)'></app-quotes-detail>
            </div>
        </ul>
    </div>
    <div class="col-md-5"><br><br><br>
        <!-- <h1>Quotes</h1> -->

        <p>Posts your quotes here!!!</p>
        <hr>
        <div>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>

    </div>
</div>