<p>
    {{quote.author}}
</p>
<button class="btn-danger" (click)='quotesDelete(true)'>Delete</button>
<button class="btn-info" (click)='quote.vote = quote.vote - 1'>like {{Quotes.vote}}</button>

<button class="btn-info" (click)='quote.vote = quote.vote - 1'>dislike {{Quotes.vote}}</button>

<p>{{quote.author}} </p>


<p></p>

<div>
    <div>

        <div class="value">
            {{ votes }}
        </div>
        <div class="label">
            Votes:
        </div>

    </div>

</div>

<div>

    <ul>
        <li class="item">
            <a href (click)="likeVote()">
                <i class="arrow up icon"></i> upvote
            </a>
        </li>

        <li class="item">
            <a href (click)="dislikeVote()">
                <i class="arrow down icon"></i> downvote
            </a>
        </li>

    </ul>
</div>